#sidebar {
  float: left;
  height: 100%;
  width: 250px;
  background: #282828;
  transition: width 0.3s;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
  position: relative;
  z-index: 1;
}

.menu {
  margin-top: 50px;
  padding: 0;
  list-style: none;
  color: white;
}
